/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* @import '../node_modules/font-awesome/css/font-awesome.css'; */

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .mat-form-field {
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
  }
 
  